*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 246, 252);
}

.item_header{
    display:flex;
    justify-content: start;
    align-items: center;
}
.item_header p{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.item_header img{
    width: 18vh;
}
.menu{
    grid-area: menu;
    background-color: rgb(36, 94, 94);
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo_menu{
    display: flex;
    justify-content: start;
    align-items: center;
}

.item_menu{
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.wiz_ico{
    width: 7%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.item_menu_titulo{
    display:flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
}
.fa-solid.fa-bars{
    font-size: 3em;
}
.fa-solid.fa-hat-wizard {
    color: white;
    padding-right: 5px;
    font-size: 2em;
}
.main{
    background-color: azure;
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(1,1fr);
    column-gap: 30px;
    row-gap: 15px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    overflow:auto;     
}
   
.footer{
    grid-area: footer;
    background-color: rgb(25, 43, 43);
    color:white;
    display:flex;
    padding-left: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_titulo{
    display: flex;
    justify-content: start;
    align-items: center;
    color:white;
}
.ico_footer{
    padding: 5px;
    font-size: 1.5em;
}

.footer_contenido{
    font-size: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10% 70% 10%;     
    grid-template-areas: "header"
    "menu"
    "main"
    "footer";
}

.header_opciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start; 
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategray;     
    transition: background-color 0.2s ease-out;
    transition-delay: 0.2s;
    width: 15vw;
    height: 35px;
    padding-bottom:10px;
    padding-left:5px;
}
button:hover {
    background-color: rgb(255, 140, 0);
}

.espejo:hover {
    transform: rotateY(180deg);
    transform-style: preserve-3d;    
}

.gris:hover {filter: grayscale(80%);}

.foco:hover {filter: blur(5px);}

.wow:hover{
    border-radius:50%;
    box-shadow: 0px 0px 15px 15px lightgray;
}

.main_item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_item img{
    width: 310px;
    height: 305px;
}

@media (min-width: 768px) {
    .container {
        height: 100vh;
        grid-template-columns: 1fr 7fr;
        grid-template-rows: 10% 78% 12%;     
        grid-template-areas: "menu header"
        "menu main"
        "footer footer";
    }
    .opciones_cabecera{
        display:flex;
        flex-direction: column;
        padding:20px;
    }
    .main{
        grid-template-columns: repeat(2,2fr);
    }
    .item_menu{
        justify-content: center;
        align-items: center;
        height: 20vh;
    }
    .item_menu_titulo{
        padding-right: 10px;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    .wiz_ico{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .footer_titulo{
        align-items: center;
        justify-content: center;
    }        
    .footer{
        align-items: center;
        justify-content: center;
    }
    .footer_contenido{
        align-items: center;
        justify-content: center;
    }        
    .header_opciones{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: 100vh;
    }
    .titulo_menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap:20px;

    }
    .menu{    
        height: 100vh;
    }
    
}
